* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
}
.box {
  width: 500px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  box-shadow: 0 5px 10px #0000001a;
}
.img-box {
  background-color: #007fff;
  position: relative;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 24px 24px 0 0;
}
.image-circle {
  height: 154px;
  width: 154px;
  border-radius: 50%;
  border: #007fff 2px solid;
  position: absolute;
  left: 34%;
  bottom: -10%;
}
img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.name {
  font-size: 30px;
}
.profession {
  font-size: 18px;
  font-weight: normal;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.link {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}
.instagram {
  background-color: #de3163;
}
.facebook {
  background-color: #003262;
}
.youtube {
  background-color: #ff0800;
}
.linkedin {
  background-color: #0070bb;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}
.btn {
  padding: 8px 24px;
  border-radius: 24px;
  border: none;
  background-color: #0070bb;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.btn:hover {
  background-color: #007fff;
  cursor: pointer;
}
